# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/

# IDE specific files
.idea/
*.iml
.classpath
.project
.settings/

# Database files
database/
*.db
*.db-journal

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

.fake
